pykis==0.7.0
requests==2.31.0
redis==5.0.1
python-dotenv==1.0.0
websocket-client==1.6.4
stomp.py==8.1.0
pymongo==4.6.1
pandas==2.1.4
mysql-connector-python==8.0.33
kafka-python==2.0.2
fastapi==0.109.2
uvicorn==0.27.1
pydantic==2.6.1
pymysql==1.1.0
python-dateutil==2.8.2